body {
    margin: 10px 1% 0% 1%;
    padding: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header { 
    height: 180px;
    padding: 1px;
    background-color:#ffffff;
    background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
    background-size: 100%;
  
    background-repeat: no-repeat;   
}

h1 {
    color: #ff8080;
    text-shadow: 2px 2px #ff0cdc;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

nav a {
    display: inline-block;
    margin-left: 2%;
    height: 28px;
    width: 22%;
    padding-top: 5px;
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.4);
    text-align: center;
    text-decoration: none;
    color: rgba (0,0,0,1);  
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.75);
    color: #161a82; 
}

.active {
    background-color: #ccffff;
    color: #333300; 
}

aside {
    display: inline-block;
    background-color: rgba(2, 201, 200, 1);
    width: 15%;
    height: 500px; 
}

aside a{
    text-align:center;
    margin: 2px;
    display: block;
}

aside a img {
    border: 3px solid #3d3d46;
    border-radius: 8px;
    width: 80%;
}


.right {
    display: inline-block;
    float: right;
    margin: 0% 1% 0% 1%;
    width: 80%;
    height: 100%; 
}

.right p{
    text-align:justify;
}

h2 {
    color: #003333;
    text-transform: uppercase;
}
img{
opacity:1.0;
}

body {
    margin: 10px 1% 0% 1%;
    padding: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header { 
    height: 180px;
    padding: 1px;
    background-color:#ffffff;
    background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
    background-size: 100%;
  
    background-repeat: no-repeat;   
}

h1 {
    color: #ff8080;
    text-shadow: 2px 2px #ff0cdc;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

nav a {
    display: inline-block;
    margin-left: 2%;
    height: 28px;
    width: 22%;
    padding-top: 5px;
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.4);
    text-align: center;
    text-decoration: none;
    color: rgba (0,0,0,1);  
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.75);
    color: #161a82; 
}

.active {
    background-color: #ccffff;
    color: #333300; 
}

aside {
    display: inline-block;
    background-color: rgba(2, 201, 200, 1);
    width: 15%;
    height: 500px; 
}

aside a{
    text-align:center;
    margin: 2px;
    display: block;
}

aside a img {
    border: 3px solid #3d3d46;
    border-radius: 8px;
    width: 80%;
}


.right {
    display: inline-block;
    float: right;
    margin: 0% 1% 0% 1%;
    width: 80%;
    height: 100%; 
}

.right p{
    text-align:justify;
}

h2 {
    color: #003333;
    text-transform: uppercase;
}
img{
opacity:1.0;
}

